* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  margin: 20px 50px;
  min-width: 665px;
}

.body-container {
  display: flex;
  flex-direction: column;
}

.title {
  color: white;
  font-family: "Permanent Marker", cursive;
  font-size: 48px;
}

.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 50px;
  gap: 5%;
}

.buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  gap: 3rem;
  margin: 20px 50px;
}

.buttons-game {
  width: 150px;
  height: 150px;
  background-color: transparent;
  border: 3px solid white;
  border-radius: 10px;
  color: white;
}

:hover.buttons-game {
  background-color: white;
  color: black;
}

.print-container {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 5%;
}

.print-container > * {
  font-family: "Permanent Marker", cursive;
  color: white;
  font-size: 38px;
  justify-content: center;
  text-align: center;
  background-color: transparent;
  width: 120px;
  /* border: 1px solid blue; */
}

.opponents-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: fit-content;
}

.vs {
  align-self: center;
  font-size: 38px;
  width: fit-content;
}

.score {
  font-size: 48px;
}
